.header
{
	width:100%;
	height:100%;	
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-repeat:no-repeat;
}

.footer
{
	width:100%;
	height:100%;
    margin-left:auto;
    margin-right:auto;
    background-position:center;
    background-repeat:no-repeat;
}

.default-input
{
	width:200px;
	height:35px;
}

.justify-left
{
	margin-left:110px;
	padding-left:5px;
}

.justify-top
{
	margin-top:10px;
}

#default-input
{
	width:50px;
	height:200px;
}